* {
  margin: 0;
  padding: 0;
  color: #FFFFF1;
  box-sizing: border-box; }

body {
  background-color: #181818;
  font-family: Arial, Helvetica, sans-serif; }

header header {
  display: flex;
  justify-content: space-between;
  height: 150px; }
  header header .div-menu .menu {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 50px; }
    header header .div-menu .menu a {
      text-decoration: none; }
      header header .div-menu .menu a :hover {
        color: #E1E6E1; }
    header header .div-menu .menu .menu-items {
      list-style: none;
      color: #FFFFF1;
      margin: 10px;
      font-weight: 400;
      font-size: 19px; }
  header header .name {
    margin: 50px 0; }
    header header .name a {
      text-decoration: none;
      font-weight: 500; }
      header header .name a :hover {
        font-weight: 400;
        transition: 0.4s; }
  header header .social-media {
    margin: 50px 50px 0 0; }
    header header .social-media a {
      padding: 20px; }
      header header .social-media a:nth-child(1) {
        padding-right: 0; }
    header header .social-media img {
      background-color: #FFFFF1;
      height: 24px;
      width: 24px;
      border-radius: 10px;
      border-color: #181818; }

.main-photos {
  text-align: center; }
  .main-photos img {
    width: 600px;
    height: 350px; }

section footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  section footer .footer-social-media {
    margin: 40px 0; }
    section footer .footer-social-media a {
      padding: 20px; }
      section footer .footer-social-media a:nth-child(1) {
        padding-right: 0; }
    section footer .footer-social-media img {
      background-color: #FFFFF1;
      height: 24px;
      width: 24px;
      border-radius: 10px;
      border-color: #181818; }
  section footer .footer-text {
    margin-bottom: 50px; }
    section footer .footer-text p {
      color: #918F91; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  height: 150px; }
  header .div-menu .menu {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 50px; }
    header .div-menu .menu a {
      text-decoration: none; }
      header .div-menu .menu a :hover {
        color: #E1E6E1; }
    header .div-menu .menu .menu-items {
      list-style: none;
      color: #FFFFF1;
      margin: 10px;
      font-weight: 400;
      font-size: 19px; }
  header .name {
    margin: 50px 0; }
    header .name a {
      text-decoration: none;
      font-weight: 500; }
      header .name a :hover {
        font-weight: 400;
        transition: 0.4s; }
  header .social-media {
    margin: 50px 50px 0 0; }
    header .social-media a {
      padding: 20px; }
      header .social-media a:nth-child(1) {
        padding-right: 0; }
    header .social-media img {
      background-color: #FFFFF1;
      height: 24px;
      width: 24px;
      border-radius: 10px;
      border-color: #181818; }

main .main-photo {
  text-align: center; }
  main .main-photo img {
    width: 550px;
    height: 550px; }

main .div-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; }
  main .div-form form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px; }
    main .div-form form div label {
      width: 600px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px; }
    main .div-form form div textarea {
      background-color: #373737;
      color: #878787;
      resize: vertical;
      width: 600px;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
      height: 150px;
      border: 0;
      outline: 0; }
    main .div-form form div input {
      width: 600px;
      height: 40px;
      padding: 10px;
      font-size: 17px;
      font-weight: 600;
      background-color: #373737;
      color: #878787;
      outline: none;
      border-radius: 3px;
      border: 0; }
      main .div-form form div input:nth-child(3) {
        margin-top: 30px;
        width: 100px;
        padding: 0;
        background-color: white;
        color: black;
        border-radius: 30px; }
        main .div-form form div input:nth-child(3):hover {
          background-color: #878787;
          color: #FFFFF1;
          transition-property: background,color;
          transition-duration: 0.3s, 0.3s;
          transition-timing-function: ease,ease;
          transition-delay: 0s,0s;
          cursor: pointer; }

section footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  section footer .footer-social-media {
    margin: 40px 0; }
    section footer .footer-social-media a {
      padding: 20px; }
      section footer .footer-social-media a:nth-child(1) {
        padding-right: 0; }
    section footer .footer-social-media img {
      background-color: #FFFFF1;
      height: 24px;
      width: 24px;
      border-radius: 10px;
      border-color: #181818; }
  section footer .footer-text {
    margin-bottom: 50px; }
    section footer .footer-text p {
      color: #918F91; }

@media screen and (max-width: 1205px) {
  header .name {
    margin: 50px 0; }
  .main-photos img {
    width: 45%;
    height: 300px; } }

@media screen and (max-width: 850px) {
  header .div-menu .menu {
    margin: 50px 0 0 30px; }
    header .div-menu .menu .menu-items {
      list-style: none;
      color: #FFFFF1;
      margin: 10px;
      font-weight: 600;
      font-size: 15px; }
  header .name {
    margin: 50px;
    text-align: center; }
    header .name a {
      text-decoration: none;
      font-weight: 500; }
      header .name a :hover {
        font-weight: 400;
        transition: 0.4s; }
  header .social-media {
    margin-right: 20px; }
  .main-photos img {
    width: 40%;
    height: 250px;
    margin-bottom: 10px; }
  main .main-photo img {
    width: 55%;
    height: auto; }
  main .div-form .form label {
    width: 400px; }
  main .div-form .form textarea {
    width: 400px; }
  main .div-form .form input {
    width: 400px; } }

@media screen and (max-width: 648px) {
  header .div-menu .menu {
    margin: 30px 0 0 10px;
    display: flex;
    flex-direction: column; }
  header .name {
    margin: 0;
    font-size: 14px; }
    header .name h1 {
      margin-top: 30px;
      margin-right: 50px;
      width: 100px;
      text-align: center; }
  header .social-media {
    margin: 30px 20px 0 0;
    display: flex;
    flex-direction: column; }
    header .social-media a {
      padding: 3px; }
    header .social-media img {
      background-color: #FFFFF1;
      height: 24px;
      width: 24px;
      border-radius: 10px;
      border-color: #181818; }
  main .main-photo img {
    width: 50%;
    height: auto; }
  main .div-form .form label {
    width: 250px;
    font-size: 15px;
    font-weight: 600; }
  main .div-form .form textarea {
    width: 250px;
    font-size: 15px;
    height: 120px; }
  main .div-form .form input {
    width: 250px;
    height: 30px;
    padding: 10px;
    font-size: 15px; }
    main .div-form .form input:nth-child(3) {
      margin-top: 30px;
      width: 90px;
      padding: 0;
      background-color: white;
      color: black;
      border-radius: 30px; } }

@media screen and (max-width: 500px) {
  main .main-photos img {
    width: 30%;
    height: 140px;
    margin-bottom: 10px; } }

/*# sourceMappingURL=main.css.map */