@import 'config';

*{
    margin: 0;
    padding: 0;
    color: $mainColor;
    box-sizing: border-box;
}
body{
    background-color: $bg-color;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    @include header;
}

.main-photos{
    text-align: center;
    img{
        width: 600px;
        height: 350px;
    }
}

section{
    @include footer;
}
